main{
    margin: 0 25%;
    text-align: center;
    p { 
        font-size: 20px;
        font-family: "Palatino"; 
        font-weight: 200;
    }
}

@media screen and (max-width: 1000px){
    main{
        margin: 0 5%;
    }
}