<main>
    <h2 id="tagline">Rested gives you personalized suggestions to help you find the perfect bedtime.</h2>
    <br />
    <p>According to experts, your body goes through multiple sleep cycles each night lasting around 90 minutes each. If
        you
        wake up in the middle of a sleep cycle
        you're likely to feel groggy and tired, but if you wake up at the end of sleep cycle you'll feel refreshed and
        rested. </p>
    <br />

    <p>Remember, on average it takes 10-20 minutes to fall asleep, so make sure you get in bed early.</p>
</main>