<div id="container">
    <nav>
        <a id="home" routerLink="">
            <span id="tagline">Sleep Better, Wake Up
            </span>
            <span id="logo">Rested</span>
        </a>
        <a routerLink="/how-to">
            How to Use
        </a>
        <a routerLink="/install" *ngIf="installer.canInstall$ | async">
            Install
        </a>
    </nav>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
    <footer>Powered by
        <a href="http://thecouchcoder.io" id="contact">The Couch Coder</a>
    </footer>
</div>