*{
    background: #1C3F5A;
    color: #FFFFFF;
    font-family: 'Muli', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.defaultSelection{
    display:none;
}

button{
    background: #1BD0CB;
}